*.class

# Package Files #
*.war
*.orig
*.ear
.gitignore.swp

#VS Code files
.vscode
.project

# IDEA Files
*.iml
.idea

/**/.settings
/**/.externalToolBuilders

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#general files in all extensions
/**/.classpath
/**/.project
/**/.springBeans
/**/.externalToolBuilders/
/**/.settings/
/**/extensioninfo.xsd
/**/build.xml
/**/gensrc
/**/classes
/**/eclipsebin
/**/addons/*
/**/addonsrc/*
/**/commonwebsrc/*
*-testclasses.xml
*-webtestclasses.xml
hmc.xsd
beans.xsd
items.xsd
rebel.xml
platformhome.properties
/**/node_modules/
npm-debug.log
velocity.log

**/_ui/responsive/theme-blue/css/*
**/_ui/responsive/theme-blue/fonts/*
**/_ui/responsive/common/js/*
**/_ui/responsive/common/css/**/*
**/_ui/responsive/common/bootstrap/*
**/_ui/responsive/common/images/icons.svg

**/web/webroot/WEB-INF/messages/theme-alpha*
**/ciscore/lib
**/cisfacades/lib

/**/*_bof.jar
**/.lastupdate

**/dataload/hmc/bin/*

eiacore/dataload/resources/dataload/dataload-hmctestclasses.xml

**/ciscustomer/.classpath
/eiacore/globalcore/amwaycommercewebservices/.classpath
/eiacore/globalcore/amwaycommercewebservices/*.classpath
/eiacore/globalcore/amwaycommercewebservices/*.classpath

**/cisbusinesscenteraddon/acceleratoraddon/web/webroot/_ui/responsive/**
